In [ ]:
# Data is too large to upload
# https://data.world/socialmediadata/beeradvocate

In [27]:
import numpy as np
import pandas as pd
import time
import datetime
import plotly.express as px

In [28]:
# ! pip freeze > requirements.txt

In [40]:
df = pd.read_csv("beer_reviews.csv",dtype={"beer_style": str})
df.head()

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,10325,Vecchio Birraio,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986
1,10325,Vecchio Birraio,1235915097,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,Red Moon,6.2,48213
2,10325,Vecchio Birraio,1235916604,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5,48215
3,10325,Vecchio Birraio,1234725145,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,Sausa Pils,5.0,47969
4,1075,Caldera Brewing Company,1293735206,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7,64883

In [41]:
print('there are {} beers being reviewed in this dataset'.format(df.size))

there are 20625982 beers being reviewed in this dataset

In [42]:
df2 = pd.DataFrame(df)
df2 = df2.dropna()

In [43]:
def convert(time):
    time_formatted = datetime.datetime.fromtimestamp(time).strftime('%Y-%m-%d')
    return time_formatted

In [44]:
time = []
for epoch in df2.review_time:
#     print(epoch)
    time.append(convert(int(epoch)))
df2["Time"] = time

In [45]:
df2

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid,Time
0,10325,Vecchio Birraio,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986,2009-02-16
1,10325,Vecchio Birraio,1235915097,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,Red Moon,6.2,48213,2009-03-01
2,10325,Vecchio Birraio,1235916604,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5,48215,2009-03-01
3,10325,Vecchio Birraio,1234725145,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,Sausa Pils,5.0,47969,2009-02-15
4,1075,Caldera Brewing Company,1293735206,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7,64883,2010-12-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1586609,14359,The Defiant Brewing Company,1162684892,5.0,4.0,3.5,maddogruss,Pumpkin Ale,4.0,4.0,The Horseman's Ale,5.2,33061,2006-11-04
1586610,14359,The Defiant Brewing Company,1161048566,4.0,5.0,2.5,yelterdow,Pumpkin Ale,2.0,4.0,The Horseman's Ale,5.2,33061,2006-10-16
1586611,14359,The Defiant Brewing Company,1160702513,4.5,3.5,3.0,TongoRad,Pumpkin Ale,3.5,4.0,The Horseman's Ale,5.2,33061,2006-10-12
1586612,14359,The Defiant Brewing Company,1160023044,4.0,4.5,4.5,dherling,Pumpkin Ale,4.5,4.5,The Horseman's Ale,5.2,33061,2006-10-04
1586613,14359,The Defiant Brewing Company,1160005319,5.0,4.5,4.5,cbl2,Pumpkin Ale,4.5,4.5,The Horseman's Ale,5.2,33061,2006-10-04

In [9]:
style_count = pd.DataFrame(df2['beer_style'].value_counts()[:20])
style_count

                                  beer_style
American IPA                          113144
American Double / Imperial IPA         85105
American Pale Ale (APA)                58072
Russian Imperial Stout                 53424
American Double / Imperial Stout       50137
American Porter                        46647
American Amber / Red Ale               41731
Belgian Strong Dark Ale                37498
Fruit / Vegetable Beer                 31983
American Strong Ale                    31350
Belgian Strong Pale Ale                31323
Saison / Farmhouse Ale                 30621
Tripel                                 29971
American Adjunct Lager                 28964
Witbier                                28654
American Barleywine                    26267
Hefeweizen                             25922
American Brown Ale                     24131
American Pale Wheat Ale                22888
English Pale Ale                       22817

# Sorting Average beer rating by beer type
**Grabbing the 10 most popular beer styles**

In [10]:
average_review_type = pd.pivot_table(data=df2, values="review_overall", 
                      index="beer_style",              
                      aggfunc='mean'
                     )
average_review_type = average_review_type.sort_values(by='review_overall', ascending=False)
average_review_type = average_review_type.head(10)

In [11]:
average_review_type

                                  review_overall
beer_style
American Wild Ale                       4.100379
Gueuze                                  4.087397
Quadrupel (Quad)                        4.073156
Lambic - Unblended                      4.060635
American Double / Imperial Stout        4.030536
Russian Imperial Stout                  4.024652
Weizenbock                              4.011188
American Double / Imperial IPA          4.000323
Flanders Red Ale                        3.995810
Rye Beer                                3.989106

In [12]:
print('these are the top 20 most rated beers: {}'.format(style_count.index))

# top_10_styles = ['American Wild Ale', 'Gueuze', 'Quadrupel (Quad)', 'Lambic - Unblended',
#        'American Double / Imperial Stout', 'Russian Imperial Stout',
#        'Weizenbock', 'American Double / Imperial IPA', 'Flanders Red Ale',
#        'Rye Beer']

these are the top 20 most rated beers: Index(['American IPA', 'American Double / Imperial IPA',
       'American Pale Ale (APA)', 'Russian Imperial Stout',
       'American Double / Imperial Stout', 'American Porter',
       'American Amber / Red Ale', 'Belgian Strong Dark Ale',
       'Fruit / Vegetable Beer', 'American Strong Ale',
       'Belgian Strong Pale Ale', 'Saison / Farmhouse Ale', 'Tripel',
       'American Adjunct Lager', 'Witbier', 'American Barleywine',
       'Hefeweizen', 'American Brown Ale', 'American Pale Wheat Ale',
       'English Pale Ale'],
      dtype='object')

In [13]:
style_count

                                  beer_style
American IPA                          113144
American Double / Imperial IPA         85105
American Pale Ale (APA)                58072
Russian Imperial Stout                 53424
American Double / Imperial Stout       50137
American Porter                        46647
American Amber / Red Ale               41731
Belgian Strong Dark Ale                37498
Fruit / Vegetable Beer                 31983
American Strong Ale                    31350
Belgian Strong Pale Ale                31323
Saison / Farmhouse Ale                 30621
Tripel                                 29971
American Adjunct Lager                 28964
Witbier                                28654
American Barleywine                    26267
Hefeweizen                             25922
American Brown Ale                     24131
American Pale Wheat Ale                22888
English Pale Ale                       22817

In [14]:
# style_series = (df2["beer_style"] == style_count.index[0])

In [15]:
# style_series = ((df2["beer_style"] == style_count.index[0]) or
#                 (df2["beer_style"] == style_count.index[1]) or
#                 (df2["beer_style"] == style_count.index[2]) or
#                 (df2["beer_style"] == style_count.index[3]) or
#                 (df2["beer_style"] == style_count.index[4]) or
#                 (df2["beer_style"] == style_count.index[5]) or
#                 (df2["beer_style"] == style_count.index[6]) or
#                 (df2["beer_style"] == style_count.index[7]) or
#                 (df2["beer_style"] == style_count.index[8]) or
#                 (df2["beer_style"] == style_count.index[9]) or
#                 (df2["beer_style"] == style_count.index[10]) or
#                 (df2["beer_style"] == style_count.index[11]) or
#                 (df2["beer_style"] == style_count.index[12]) or
#                 (df2["beer_style"] == style_count.index[13]) or
#                 (df2["beer_style"] == style_count.index[14])
#                )

# Use Boolean Indexing to Filter out all other beer styles

In [16]:
# count = 0
# for i in style_count.index:
#     style_series = (df2["beer_style"] == style_count.index[count])
#     count+=1
#     print(style_series)

In [17]:
# test = clean_df[style_series]

In [18]:
style_series = df2["beer_style"]

In [19]:
boolean_sub1 = (style_series == style_count.index[0])
boolean_sub2 = (style_series == style_count.index[1])
boolean_sub3 = (style_series == style_count.index[2])
boolean_sub4 = (style_series == style_count.index[3])
boolean_sub5 = (style_series == style_count.index[4])
boolean_sub6 = (style_series == style_count.index[5])
boolean_sub7 = (style_series == style_count.index[6])
boolean_sub8 = (style_series == style_count.index[7])
boolean_sub9 = (style_series == style_count.index[8])
boolean_sub10 = (style_series == style_count.index[9])
boolean_sub11 = (style_series == style_count.index[10])
boolean_sub12 = (style_series == style_count.index[11])
boolean_sub13 = (style_series == style_count.index[12])
boolean_sub14 = (style_series == style_count.index[13])
boolean_sub15 = (style_series == style_count.index[14])

In [20]:
copy_sample1 = pd.DataFrame(df2[boolean_sub1])
copy_sample2 = pd.DataFrame(df2[boolean_sub2])
copy_sample3 = pd.DataFrame(df2[boolean_sub3])
copy_sample4 = pd.DataFrame(df2[boolean_sub4])
copy_sample5 = pd.DataFrame(df2[boolean_sub5])
copy_sample6 = pd.DataFrame(df2[boolean_sub6])
copy_sample7 = pd.DataFrame(df2[boolean_sub7])
copy_sample8 = pd.DataFrame(df2[boolean_sub8])
copy_sample9 = pd.DataFrame(df2[boolean_sub9])
copy_sample10 = pd.DataFrame(df2[boolean_sub10])
copy_sample11 = pd.DataFrame(df2[boolean_sub11])
copy_sample12 = pd.DataFrame(df2[boolean_sub12])
copy_sample13 = pd.DataFrame(df2[boolean_sub13])
copy_sample14 = pd.DataFrame(df2[boolean_sub14])
copy_sample15 = pd.DataFrame(df2[boolean_sub15])

In [21]:
final = pd.concat([copy_sample1, copy_sample2,copy_sample3,copy_sample4,copy_sample5,
                   copy_sample6, copy_sample7, copy_sample8, copy_sample9, copy_sample10,
                   copy_sample11, copy_sample12, copy_sample13, copy_sample14, copy_sample15
                  ])

# final.head()
print(len(final))

698624

In [23]:
# data1 = dict(Time = final['review_time'],
#             Review_Rating = final["review_overall"],
#             ABV = final["beer_abv"],
#             Name = final["beer_name"],
#             Style = final["beer_style"]
# )
data2 = dict(Review_Rating = final["review_overall"],
            ABV = final["beer_abv"],
            Name = final["beer_name"],
            Style = final["beer_style"]
)
# plot = pd.DataFrame(data1)
# plot['Time'] = plot['Time'].astype("string")
# plot['Name'] = plot['Name'].astype("string")
# plot['Style'] = plot['Style'].astype("string")
# plot_sample = plot.sample(5000)

plot2 = pd.DataFrame(data2)
plot2['Name'] = plot2['Name'].astype("string")
plot2['Style'] = plot2['Style'].astype("string")
plot_sample2 = plot2.sample(5000)

# plot_sample2.columns

In [24]:
print(len(plot_sample2))

5000

In [26]:
plot_sample2.to_csv("reviews1.csv")

In [124]:
from dash import Dash, dcc, html, Input, Output
# import plotly.express as px

app = Dash(__name__)


app.layout = html.Div([
    html.H4('Beer Ratings for Different Styles of Beer Filtered by ABV'),
    dcc.Graph(id="scatter-plot"),
    html.P("Filter by ABV:"),
    dcc.RangeSlider(
        id='range-slider',
        min=0, max=18, step=1,
        marks={0: '0',2:'2', 4: '4',6:'6', 8:'8',10:'10',12:'12', 14:'14', 16: '16',18:'18'},
        value=[2, 16]
    ),
])


@app.callback(
    Output("scatter-plot", "figure"), 
    Input("range-slider", "value"))
def update_bar_chart(slider_range):
    df = plot_sample2 
    low, high = slider_range
    mask = (df['ABV'] > low) & (df['ABV'] < high)
    
    fig = px.scatter(
        df[mask], x="ABV", y="Review_Rating", 
        color="Style", size='Review_Rating', 
        hover_data=['Name'])
    return fig

In [ ]:
if __name__ == '__main__':
    app.run_server(debug=True, use_reloader=False)

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app '__main__' (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: on

In [20]:
states = {
    'AK': 'Alaska',
    'AL': 'Alabama',
    'AR': 'Arkansas',
    'AZ': 'Arizona',
    'CA': 'California',
    'CO': 'Colorado',
    'CT': 'Connecticut',
    'DC': 'District of Columbia',
    'DE': 'Delaware',
    'FL': 'Florida',
    'GA': 'Georgia',
    'HI': 'Hawaii',
    'IA': 'Iowa',
    'ID': 'Idaho',
    'IL': 'Illinois',
    'IN': 'Indiana',
    'KS': 'Kansas',
    'KY': 'Kentucky',
    'LA': 'Louisiana',
    'MA': 'Massachusetts',
    'MD': 'Maryland',
    'ME': 'Maine',
    'MI': 'Michigan',
    'MN': 'Minnesota',
    'MO': 'Missouri',
    'MS': 'Mississippi',
    'MT': 'Montana',
    'NC': 'North Carolina',
    'ND': 'North Dakota',
    'NE': 'Nebraska',
    'NH': 'New Hampshire',
    'NJ': 'New Jersey',
    'NM': 'New Mexico',
    'NV': 'Nevada',
    'NY': 'New York',
    'OH': 'Ohio',
    'OK': 'Oklahoma',
    'OR': 'Oregon',
    'PA': 'Pennsylvania',
    'RI': 'Rhode Island',
    'SC': 'South Carolina',
    'SD': 'South Dakota',
    'TN': 'Tennessee',
    'TX': 'Texas',
    'UT': 'Utah',
    'VA': 'Virginia',
    'VT': 'Vermont',
    'WA': 'Washington',
    'WI': 'Wisconsin',
    'WV': 'West Virginia',
    'WY': 'Wyoming'
}

In [21]:
html_data = fig.to_html(full_html=False, include_plotlyjs='cdn')
    
    # The variable is then displayed as a plot using Iframe from dash_html_components
html_plot = html.Iframe(srcDoc = html_data, 
                        style = {"height": "1000px", 
                                     "width": "1000px",
                                     "display":"flex",
                                     "align-items": "center", 
                                     "justify-content":  "center"}
                        )

NameError: name 'fig' is not defined