In [51]:
import numpy as np
import pandas as pd
import time
import datetime
import plotly.express as px
from dash import Dash, dcc, html, Input, Output

In [52]:
# ! pip freeze > requirements.txt
# ! pip list --format=freeze > requirements.txt

In [53]:
df = pd.read_csv("reviews1.csv",dtype={"beer_style": str})
df.drop(df.columns[[0]], axis=1, inplace=True)
df.head()

,Review_Rating,ABV,Name,Style
0,4.0,5.0,Leatherlips IPA,American IPA
1,2.5,9.3,Terrapin Hoptaneous Combustion,American Double / Imperial IPA
2,4.5,5.8,Great Lakes Edmund Fitzgerald Porter,American Porter
3,3.5,9.0,Imperial Stout,Russian Imperial Stout
4,4.5,5.5,Red Brick Pale Ale,American Pale Ale (APA)

In [54]:
print('there are {} beers being reviewed in this dataset'.format(df.size))

there are 20000 beers being reviewed in this dataset

In [55]:
df2 = pd.DataFrame(df)

In [56]:
# def convert(time):
#     time_formatted = datetime.datetime.fromtimestamp(time).strftime('%Y-%m-%d')
#     return time_formatted

In [57]:
# time = []
# for epoch in df.review_time:
# #     print(epoch)
#     time.append(convert(int(epoch)))
# df2["review_time"] = time

In [58]:
df2.head()

,Review_Rating,ABV,Name,Style
0,4.0,5.0,Leatherlips IPA,American IPA
1,2.5,9.3,Terrapin Hoptaneous Combustion,American Double / Imperial IPA
2,4.5,5.8,Great Lakes Edmund Fitzgerald Porter,American Porter
3,3.5,9.0,Imperial Stout,Russian Imperial Stout
4,4.5,5.5,Red Brick Pale Ale,American Pale Ale (APA)

# Sorting Average beer rating by beer type with at least 200 total reviews (Sampled down)
**Grabbing the 10 most popular beer styles**

In [59]:
style_count = pd.DataFrame(df2['Style'].value_counts()[:20])
style_count.tail()

                        Style
Saison / Farmhouse Ale    230
Fruit / Vegetable Beer    224
American Adjunct Lager    223
Tripel                    198
Witbier                   182

In [60]:
average_review_type = pd.pivot_table(data=df2, values="Review_Rating", 
                      index="Style",              
                      aggfunc='mean'
                     )
average_review_type = average_review_type.sort_values(by='Review_Rating', ascending=False)
average_review_type = average_review_type.head(10)

In [61]:
average_review_type

                                  Review_Rating
Style
American Double / Imperial Stout       4.039084
American Double / Imperial IPA         4.019654
Russian Imperial Stout                 4.016927
Saison / Farmhouse Ale                 4.002174
Belgian Strong Pale Ale                3.965957
Belgian Strong Dark Ale                3.934363
American IPA                           3.928117
Tripel                                 3.883838
American Porter                        3.867069
American Amber / Red Ale               3.863487

In [62]:
print('these are the top 10 highest rated beers: {}'.format(average_review_type.index))

# top_10_styles = ['American Wild Ale', 'Gueuze', 'Quadrupel (Quad)', 'Lambic - Unblended',
#        'American Double / Imperial Stout', 'Russian Imperial Stout',
#        'Weizenbock', 'American Double / Imperial IPA', 'Flanders Red Ale',
#        'Rye Beer']

these are the top 10 highest rated beers: Index(['American Double / Imperial Stout', 'American Double / Imperial IPA',
       'Russian Imperial Stout', 'Saison / Farmhouse Ale',
       'Belgian Strong Pale Ale', 'Belgian Strong Dark Ale', 'American IPA',
       'Tripel', 'American Porter', 'American Amber / Red Ale'],
      dtype='object', name='Style')

# Use Boolean Indexing to Filter out all other beer styles

In [63]:
style_series = df2["Style"]

In [64]:
boolean_sub1 = (style_series == "American Wild Ale")
boolean_sub2 = (style_series == "Gueuze")
boolean_sub3 = (style_series == "Quadrupel (Quad)")
boolean_sub4 = (style_series == "Lambic - Unblended")
boolean_sub5 = (style_series == "American Double / Imperial Stout")
boolean_sub6 = (style_series == "Russian Imperial Stout")
boolean_sub7 = (style_series == "Weizenbock")
boolean_sub8 = (style_series == "American Double / Imperial IPA")
boolean_sub9 = (style_series == "Flanders Red Ale")
boolean_sub10 = (style_series == "Rye Beer")

In [65]:
copy_sample1 = pd.DataFrame(df2[boolean_sub1])
copy_sample2 = pd.DataFrame(df2[boolean_sub2])
copy_sample3 = pd.DataFrame(df2[boolean_sub3])
copy_sample4 = pd.DataFrame(df2[boolean_sub4])
copy_sample5 = pd.DataFrame(df2[boolean_sub5])
copy_sample6 = pd.DataFrame(df2[boolean_sub6])
copy_sample7 = pd.DataFrame(df2[boolean_sub7])
copy_sample8 = pd.DataFrame(df2[boolean_sub8])
copy_sample9 = pd.DataFrame(df2[boolean_sub9])
copy_sample10 = pd.DataFrame(df2[boolean_sub10])

In [66]:
final = pd.concat([copy_sample1, copy_sample2,copy_sample3,copy_sample4,copy_sample5,
                   copy_sample6, copy_sample7, copy_sample8, copy_sample9, copy_sample10
                  ])

final.tail(5)

,Review_Rating,ABV,Name,Style
4978,4.5,10.0,Stone 10th Anniversary IPA,American Double / Imperial IPA
4979,4.0,9.0,Hop Henge Experimental IPA,American Double / Imperial IPA
4985,4.5,7.7,Stone Ruination IPA,American Double / Imperial IPA
4997,4.0,11.5,Double Dog Double Pale Ale,American Double / Imperial IPA
4999,4.0,10.0,Stoudt's Double IPA (India Pale Ale),American Double / Imperial IPA

In [69]:
data2 = dict(Review_Rating = final["Review_Rating"],
            ABV = final["ABV"],
            Name = final["Name"],
            Style = final["Style"]
)

plot2 = pd.DataFrame(data2)
plot2['Name'] = plot2['Name'].astype("string")
plot2['Style'] = plot2['Style'].astype("string")


# plot_sample2.columns

In [71]:
plot_sample2 = plot2.sample(5000)

5000

In [72]:
plot_sample2.head(10)

,Review_Rating,ABV,Name,Style
3103,4.0,8.2,Schneider Aventinus,Weizenbock
1128,4.0,9.0,90 Minute IPA,American Double / Imperial IPA
1376,4.0,9.4,Green Flash Imperial India Pale Ale,American Double / Imperial IPA
2023,3.0,16.8,Mephistopheles' Stout,American Double / Imperial Stout
2735,4.5,9.5,Imperial Eclipse Stout - Elijah Craig (12 Year),American Double / Imperial Stout
1525,2.5,8.4,IPA2 (Double India Pale Ale),American Double / Imperial IPA
2156,4.0,8.5,Hop Wallop,American Double / Imperial IPA
2038,4.5,6.0,Oude Gueuze,Gueuze
801,3.0,9.0,Stoudt's Fat Dog (Imperial Oatmeal Stout),American Double / Imperial Stout
3709,4.0,10.0,Robert Johnson's Hellhound On My Ale,American Double / Imperial IPA

In [73]:
# plot_sample2.to_csv('reviews.csv')

In [74]:

# import plotly.express as px

app = Dash()


app.layout = html.Div([
    html.H4('Beer Ratings for Different Styles of Beer Filtered by ABV'),
    dcc.Graph(id="scatter-plot"),
    html.P("Filter by ABV:"),
    dcc.RangeSlider(
        id='range-slider',
        min=0, max=18, step=1,
        marks={0: '0',2:'2', 4: '4',6:'6', 8:'8',10:'10',12:'12', 14:'14', 16: '16',18:'18'},
        value=[2, 16]
    ),
])


@app.callback(
    Output("scatter-plot", "figure"), 
    Input("range-slider", "value"))
def update_bar_chart(slider_range):
    df = plot_sample2 
    low, high = slider_range
    mask = (df['ABV'] > low) & (df['ABV'] < high)
    
    fig = px.scatter(
        df[mask], x="ABV", y="Review_Rating", 
        color="Style", size='Review_Rating', 
        hover_data=['Name'])
    return fig

In [ ]:
if __name__ == '__main__':
    app.run_server(debug=True, use_reloader=False)

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app '__main__' (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: on

In [22]:
# ! git add ABV Rating Analysis.ipynb

In [23]:
# ! git commit -m "test first commit"

In [ ]:
# ! git remote add origin https://github.com/Jsreens/Beer_ABV_Review_Dash.git

In [ ]:
# ! git remote -v

In [ ]:
# ! git branch -M main

In [ ]:
# ! git remote show origin

In [ ]:
# ! git push -u origin main